﻿<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Grocery Store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/clientcss/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/clientcss/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    <link href="~/clientcss/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="~/clientcss/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/clientcss/js/move-top.js"></script>
    <script type="text/javascript" src="~/clientcss/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            cartItems = JSON.parse(localStorage['product']);
            checkoutCounter = cartItems.length;
            document.getElementById('cart_counter').innerHTML = checkoutCounter;
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>
    <script>
        function add_to_cart()
        {
            var id = document.getElementById("itemid_none").value;
            var p_name = document.getElementById("itemname_none").value;
            var p_price = document.getElementById("itemprice_none").value;
            var p_img = document.getElementById("itemimg_none").value;
            var qty = document.getElementById("slt").value;
            var productArray = [];
            var total_price = qty * parseInt(p_price);
            var productJSON = { "id": id, "nameEn": p_name, "price": p_price, "image": p_img, "qnt": qty, "total_am": total_price };
            if (localStorage.getObj('product') !== null) {
                var myArrayObject = JSON.parse(localStorage.getItem("product"));
                var index_id = "";
                myArrayObject.forEach(function (personObject) {
                    if (personObject.id == id) {
                        index_id = "true";
                    }
                });
                productArray = localStorage.getObj('product');
                if (index_id == "true") {
                    alert("This Item Is Already Exist In Your Cart");
                }
                else {
                   // popupshow();
                    productArray.push(productJSON);
                    localStorage.setObj('product', productArray);
                }
            }
            else {
               // popupshow();
                productArray.push(productJSON);
                localStorage.setObj('product', productArray);
            }
            cartItems = JSON.parse(localStorage['product']);
            checkoutCounter = cartItems.length;
            document.getElementById('cart_counter').innerHTML = checkoutCounter;
        }
        Storage.prototype.setObj = function (key, value)
        {
            this.setItem(key, JSON.stringify(value));
        }

        Storage.prototype.getObj = function (key)
        {
            var value = this.getItem(key);

            return value && JSON.parse(value);

        }
        function opendiv(itm_detail,item_rate,item_weight,item_date,item_img,qty,itemid)
        {
            $("#slt").empty();
            document.getElementById("pop").style.display = "block";
            document.getElementById("images").src = "/image/" + item_img;
            document.getElementById("item-name").innerHTML = itm_detail;
            document.getElementById("item-rate").innerHTML = item_rate;
            document.getElementById("item-weight").innerHTML = item_weight;
            document.getElementById("item-date").innerHTML = item_date;
            document.getElementById("itemid_none").value = itemid;
            document.getElementById("itemname_none").value = itm_detail;
            document.getElementById("itemimg_none").value = item_img;
            document.getElementById("itemprice_none").value = item_rate;
            $("#slt").append("<option>Select Quantity</option>");
            for (var i = 1; i <= qty; i++)
            {
                $("#slt").append("<option value="+i+">" + i + "</option>");
            }
            
            $("#btndiv").append("<input type='button' value='Add to cart' onclick='add_to_cart()' class='btn btn-warning'/>");
        }
        function closefnc() {
            document.getElementById("pop").style.display = "none";
        }
    </script>

    <!-- start-smoth-scrolling -->
</head>

<body>
    <!-- header -->
    <div class="agileits_header">
        <div class="w3l_offers">
            <a href="@Url.Action("clientplaceorder","Home")">Smart Poultry Service</a>
        </div>
        <div class="w3l_search">
            <form action="#" method="post">
                <input type="text" name="Product" value="Search a product..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search a product...';}" required="">
                <input type="submit" value=" ">
            </form>
        </div>
        <div class="product_list_header">
            <form action="#" method="post" class="last">
                <fieldset>
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="display" value="1" />
                    <a href="@Url.Action("checkout","Home")" class="btn btn-danger">
                       
                            View Your Cart <span class="badge badge-light" id="cart_counter"></span>
                            <span class="sr-only">unread messages</span>
                     
                    </a>
                </fieldset>
            </form>
        </div>
        <div class="w3l_header_right">
            <ul>
                <li class="dropdown profile_details_drop">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
                    <div class="mega-dropdown-menu">
                        <div class="w3ls_vegetables">
                            <ul class="dropdown-menu drp-mnu">
                                @if (string.IsNullOrEmpty((string)Session["u_name"]))
                                
                                {
                                    <li><a href="@Url.Action("login", "Home")">Login</a></li>
                                    <li><a href="@Url.Action("login", "Home")">Sign Up</a></li>

                                }
                                else
                                {
                                    <li><a href="@Url.Action("MyOrder", "Home")">My Order</a></li>
                                    <li><a href="@Url.Action("Logout", "Home")">Logout</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="w3l_header_right1">
            <h2><a href="@Url.Action("contactus","Home")">Contact Us</a></h2>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- script-for sticky-nav -->
    <script>
	$(document).ready(function() {
		 var navoffeset=$(".agileits_header").offset().top;
		 $(window).scroll(function(){
			var scrollpos=$(window).scrollTop();
			if(scrollpos >=navoffeset){
				$(".agileits_header").addClass("fixed");
			}else{
				$(".agileits_header").removeClass("fixed");
			}
		 });

	});
    </script>
    <!-- //script-for sticky-nav -->
    <div class="logo_products">
        <div class="container">
            <div class="w3ls_logo_products_left">
                <h1><a href="@Url.Action("index","Home")"><span>Poultry</span> Shop</a></h1>
            </div>
            <div class="w3ls_logo_products_left1">
                <ul class="special_items">
                    <li><a href="@Url.Action("index","Home")">Home</a><i>/</i></li>
                    <li><a href="@Url.Action("clientplaceorder","Home")">Chiken Items</a><i>/</i></li>
                    <li><a href="@Url.Action("clientplaceorder","Home")">Best Deals</a><i>/</i></li>
                    <li><a href="@Url.Action("aboutus","Home")">About Us</a><i>/</i></li>
                    <li><a href="@Url.Action("contactus","Home")">Contact Us</a></li>
                </ul>
            </div>
            <div class="w3ls_logo_products_left1">
                <ul class="phone_email">
                    <li><i class="fa fa-phone" aria-hidden="true"></i>(+92) 3335661158</li>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:store@grocery.com">smartpoultryservice@gmail.com</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!-- banner -->
    
    @RenderBody()
    <!-- //newsletter -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="col-md-3 w3_footer_grid">
                <h3>information</h3>
                <ul class="w3_footer_grid_list">
                    <li><a href="events.html">Events</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="products.html">Best Deals</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="short-codes.html">Short Codes</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>policy info</h3>
                <ul class="w3_footer_grid_list">
                    <li><a href="faqs.html">FAQ</a></li>
                    <li><a href="privacy.html">privacy policy</a></li>
                    <li><a href="privacy.html">terms of use</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>what in stores</h3>
                <ul class="w3_footer_grid_list">
                    <li><a href="pet.html">Pet Food</a></li>
                    <li><a href="frozen.html">Frozen Snacks</a></li>
                    <li><a href="kitchen.html">Kitchen</a></li>
                    <li><a href="products.html">Branded Foods</a></li>
                    <li><a href="household.html">Households</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>twitter posts</h3>
                <ul class="w3_footer_grid_list1">
                    <li>
                        <label class="fa fa-twitter" aria-hidden="true"></label><i>01 day ago</i><span>
                            Non numquam <a href="#">http://sd.ds/13jklf#</a>
                            eius modi tempora incidunt ut labore et
                            <a href="#">http://sd.ds/1389kjklf#</a>quo nulla.
                        </span>
                    </li>
                    <li>
                        <label class="fa fa-twitter" aria-hidden="true"></label><i>02 day ago</i><span>
                            Con numquam <a href="#">http://fd.uf/56hfg#</a>
                            eius modi tempora incidunt ut labore et
                            <a href="#">http://fd.uf/56hfg#</a>quo nulla.
                        </span>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
            <div class="agile_footer_grids">
                <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
                    <div class="w3_footer_grid_bottom">
                        <h4>100% secure payments</h4>
                        <img src="images/card.png" alt=" " class="img-responsive" />
                    </div>
                </div>
                <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
                    <div class="w3_footer_grid_bottom">
                        <h5>connect with us</h5>
                        <ul class="agileits_social_icons">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="wthree_footer_copy">
                <p>© 2016 Grocery Store. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/clientcss/js/bootstrap.min.js"></script>
    <script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
    </script>
    <!-- //here ends scrolling icon -->
    <script src="~/clientcss/js/minicart.js"></script>
    <script>
		paypal.minicart.render();

		paypal.minicart.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});

    </script>
        <script src="~/clientcss/js/jquery-1.11.1.min.js"></script>
        <!--quantity-->
        <script>
									$('.value-plus').on('click', function(){
										var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)+1;
										divUpd.text(newVal);
									});

									$('.value-minus').on('click', function(){
										var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)-1;
										if(newVal>=1) divUpd.text(newVal);
									});
        </script>
        <!--quantity-->
        <script>
$(document).ready(function(c) {
								$('.close1').on('click', function(c){
									$('.rem1').fadeOut('slow', function(c){
										$('.rem1').remove();
									});
									});
								});
        </script>
        <script>
$(document).ready(function(c) {
								$('.close2').on('click', function(c){
									$('.rem2').fadeOut('slow', function(c){
										$('.rem2').remove();
									});
									});
								});
        </script>
        <script>
$(document).ready(function(c) {
								$('.close3').on('click', function(c){
									$('.rem3').fadeOut('slow', function(c){
										$('.rem3').remove();
									});
									});
								});
        </script>
</body>
</html>
