﻿
@{
    ViewBag.Title = "Addemployee";
    Layout = "~/Views/layout/Admin_layout.cshtml";
}
<script src="~/Admincss/bower_components/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $("#txtname").keypress(function (event) {
            var inputValue = event.charCode;
            if (!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
            }
        });
        $("#txtFname").keypress(function (event) {
            var inputValue = event.charCode;
            if (!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
            }
        });
        $("#txtdesignation").keypress(function (event) {
            var inputValue = event.charCode;
            if (!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
            }
        });
        $("#txtdeprtmnt").keypress(function (event) {
            var inputValue = event.charCode;
            if (!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
            }
        });
        $('#txtcnic').keydown(function () {

            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length == 5 || length == 13)
                $(this).val($(this).val() + '-');

        });
        $('#txtphone').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val() + '-');
                }

        });
    });
</script>

<section class="content-header">
   
    <div id="signup" class="col-md-9">
        <form method="post" action="@Url.Action("Addemployee", "Admin")">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="text-center">ADD EMPLOYEE</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <input type="text" id="txtname" name="empname" placeholder=" Employee Name" class="form-control" required/>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <input type="text" id="txtFname" name="empfathername" placeholder=" Father Name" class="form-control" required />

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" id="txtEaddress" name="empaddress" placeholder=" Employee Address" class="form-control" required />

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" id="txtcnic" name="empcnic" placeholder=" Employee CNIC" maxlength="15" class="form-control" required />

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" id="txtdesignation" name="empdesignation" placeholder="Employee Designation" class="form-control" required />

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" id="txtdeprtmnt" name="empdeprtmnt" placeholder="Employee Department" class="form-control" required />

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" id="txtphone" maxlength="12" name="empphone" placeholder="Employee Phone#" class="form-control" required />

                        </div>
                    </div>
                   
                </div>
                <div class="panel-footer">
                    <span style="color:seagreen">@ViewBag.success</span>
                    <p class="text-center">
                        <input id="Btnaddemployee" name="Addemp" type="submit" value="Add Employee" class="btn btn-primary" />
                    </p>

                </div>

            </div>
        </form>
    </div>

</section>

