﻿
@{
    ViewBag.Title = "Additem";
    Layout = "~/Views/layout/Admin_layout.cshtml";
}
<script src="~/Admincss/bower_components/jquery.min.js"></script>
<script>
    function openpopup(id, name, weight, rate, amount,qty) {
        document.getElementById("txtitemdetails").value = name;
        document.getElementById("txtitemqty").value = qty;
        document.getElementById("txtitemnos").value = id;
        document.getElementById("txtitemweights").value = weight;
        document.getElementById("txtrates").value = rate;
        document.getElementById("txtamounts").value = amount;
        document.getElementById("modal-default").style.display = "block";
    }
    function crosfnc()
    {
        document.getElementById("modal-default").style.display = "none";
    }
    $(document).ready(function () {
        $("#txtitemdetail").keypress(function (event) {
            var inputValue = event.charCode;
            if (!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
            }
        });
        $('#txtitemqty').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
        $('#txtrate').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
        $('#txtamount').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
    });
</script>
<section class="content-header">
    <div class="row">
        <div id="signup" class="col-md-6">
            <form method="post" action="@Url.Action("Additem", "Admin" )" enctype="multipart/form-data">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="text-center">Add ITEM</h2>
                    </div>
                    <div class="panel-body">


             
                        <div class="form-group">
                            <input type="text" id="txtitemdetail" name="item_detail" placeholder="Item Detail" class="form-control" required />

                        </div>
                        <div class="form-group">
                            <input type="text" id="txtitemqty" name="item_qty" placeholder="Item Quantity" class="form-control" required />

                        </div>

                        <div class="form-group">
                            <input type="text" id="txtitemweight" name="item_weight" placeholder="Item Weight" class="form-control" required />

                        </div>

                        <div class="form-group">
                            <input type="text" id="txtrate" name="item_rate" placeholder="Item Rate" class="form-control" required />

                        </div>

                        <div class="form-group">
                            <input type="text" id="txtamount" name="amount" placeholder="Amount" class="form-control" required />

                        </div>
                        <div class="form-group">
                            <label for="ccomment" class="control-label col-lg-2">Upload File<span class="required">*</span></label>
                            <div class="col-lg-10">
                                <input type="file" value="uploadfile" id="fileupload" name="fleup" class="form-control" required />
                               

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span style="color:seagreen">@ViewBag.success</span>
                    <p class="text-center">
                        <input id="Btnadditem" type="submit" value="Add Item" class="btn btn-primary" />
                    </p>

                </div>
                </form>

</div>

        <div class="col-md-6">
            <table class="table table-striped table-hover" >
                <tbody>
                    <tr>
                        <th><i class="glyphicon glyphicon-asterisk"></i>Item no</th>
                        <th><i class="glyphicon glyphicon-th"></i>Item detail</th>
                        <th><i class="glyphicon glyphicon-th"></i>Qty</th>
                        <th><i class="glyphicon glyphicon-user"></i>Item img</th>
                        <th><i class="glyphicon glyphicon-hdd"></i>Item Weight</th>
                        <th><i class="glyphicon glyphicon-eur"></i>Item rate</th>
                        <th><i class="glyphicon glyphicon-certificate"></i>Item Amount</th>
                        <th><i class="glyphicon glyphicon-edit"></i>Edit Item</th>
                        <th><i class="glyphicon glyphicon-remove-circle"></i>Delete Item</th>
                     </tr>
                    @foreach (var itemdisplay in ViewBag.itm)
                    {
                        <tr>
                            <td>Itm# @itemdisplay.item_no</td>
                            <td>@itemdisplay.ite_detail</td>
                            <td>@itemdisplay.qty</td>
                            <td><img src="~/image/@itemdisplay.item_img" width="50" height="50"/> </td>
                            <td>@itemdisplay.item_weight</td>
                            <td>@itemdisplay.item_rate</td>
                            <td>@itemdisplay.item_amount</td>
                            
                          
                            <td><a href="#" class="btn btn-primary" onclick="openpopup('@itemdisplay.item_no','@itemdisplay.ite_detail','@itemdisplay.item_img','@itemdisplay.item_weight','@itemdisplay.item_rate','@itemdisplay.item_amount','@itemdisplay.qty');"><i class="glyphicon glyphicon-edit"></i></a></td>
                            <td><a href="@Url.Action("deleteitem", "Admin",new {id=itemdisplay.item_no })" class="btn btn-danger"><i class="glyphicon glyphicon-remove-sign"></i></a></td>
                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>
    <div class="modal" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="@Url.Action("edititem", "Admin")">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="crosfnc();">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Update Items</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label>Item#</label>
                            <input type="text" id="txtitemnos" name="edit_itemno" readonly class="form-control" required />

                        </div>


                        <div class="form-group">
                            <label> Item Detail</label>
                            <input type="text" id="txtitemdetails" name="edit_itemdetail" class="form-control" required />

                        </div>
                        <div class="form-group">
                            <label> Item Quantity</label>
                            <input type="text" id="txtitemqty" name="edit_itemqty" class="form-control" required />

                        </div>

                        <div class="form-group">
                            <label>  Item Weight</label>
                            <input type="text" id="txtitemweights" name="edit_itemweight" class="form-control" required />

                        </div>

                        <div class="form-group">
                            <label>  Item Rate</label>
                            <input type="text" id="txtrates" name="edit_itemrate" class="form-control" required />

                        </div>


                        <div class="form-group">
                            <label>  Amount</label>
                            <input type="text" id="txtamounts" name="edit_itemamount" class="form-control" required />

                        </div>

                    </div>
                    <div class="modal-footer">

                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                    </form>
</div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</section>
