﻿
@{
    ViewBag.Title = "Addstock";
    Layout = "~/Views/layout/Admin_layout.cshtml";
}

<script src="~/Admincss/bower_components/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#txtnadiname").keypress(function (event) {
            var inputValue = event.charCode;
            if (!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
            }
        });
        $('#txtkgrate').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
        $('#txttotlamount').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
    });
</script>
<section class="content-header">

    <div id="signup" class="col-md-9">
        <form method="post" action="@Url.Action("Addstock", "Admin")">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="text-center">Add stock</h2>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <input type="text" id="txtnadiname" name="mandi_shop_name" placeholder="Mandi Shop Name" class="form-control" required />

                    </div>

                    <div class="form-group">
                        <input type="text" id="txtvhiclno" name="vahicle_no" placeholder="Enter Vahicle No" class="form-control" required />

                    </div>

                    <div class="form-group">
                        <input type="text" id="txtloadwgt" name="load_weight" placeholder="Load weight" class="form-control" required />

                    </div>

                    <div class="form-group">
                        <input type="text" id="txtunloadwgt" name="unload_weight" placeholder="Unload Weight" class="form-control" required />

                    </div>

                    <div class="form-group">
                        <input type="text" id="txtkgrate" name="per_kg_rate" placeholder="Per KG rate" class="form-control" required />

                    </div>

                    <div class="form-group">
                        <input type="text" id="txttotlamount" name="total_amount" placeholder=" total Amount" class="form-control" required/>

                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span style="color:seagreen">@ViewBag.message</span>
                <p class="text-center">
                    <input id="Btnaddstock" type="submit" value="Add stock" class="btn btn-primary" />
                </p>

            </div>
            </form>

</div>
    

</section>

