﻿
@{
    ViewBag.Title = "Addtransection";
    Layout = "~/Views/layout/Admin_layout.cshtml";
}
<script src="~/Admincss/bower_components/jquery.min.js"></script>
<script>
    function calculation()
    {
        var total = $('#txtshopwght').val() * $('#txtblncsheet').val();
        $('#txtdailyprft').val(total);
    }
    $(document).ready(function () {
        $('#txtblncsheet').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
        $('#txtclintamount').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
        $('#txtrtailsalry').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
        $('#txtdailyprft').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
    });
</script>
<section class="content-header">
 
        <div id="trnsctn" class="col-md-9">
            <form method="post" action="@Url.Action("Addtransection", "Admin" )">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="text-center">Add Transection</h2>
                    </div>
                    <div class="panel-body">


                        <div class="form-group">
                            <input type="text" id="txtshopwght" name="shop_weight" placeholder="Shop Weight" class="form-control" required />

                        </div>

                        <div class="form-group">
                            <input type="text" id="txtblncsheet" name="balnce_sheet" onkeyup="calculation();" placeholder="Balance Sheet" class="form-control" required/>

                        </div>

                        <div class="form-group">
                            <input type="text" id="txtclintamount" name="client_amount" placeholder="Client Amount" class="form-control" required />

                        </div>

                        <div class="form-group">
                            <input type="text" id="txtrtailsalry" name="retail_sal_amount" placeholder="Retail Salary Amount" class="form-control" required/>

                        </div>

                        <div class="form-group">
                            <input type="text" id="txtdailyprft" name="daily_profit" placeholder="Daily Profit" class="form-control" required />

                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span style="color:seagreen">@ViewBag.show</span>
                    <p class="text-center">
                        <input id="Btnaddtrnsctn" type="submit" value="Add Transection" class="btn btn-primary" />
                    </p>

                </div>
                </form>

</div>
   
    </section>
