﻿@model IEnumerable<sps.Models.Add_item>
@{
    ViewBag.Title = "clientordershow";
    Layout = "~/Views/layout/Admin_layout.cshtml";
}

<div class="col-md-12">
    <h1 class="text-center"> Client Orders</h1>
    <table class="table table-striped table-hover" id="myTable">
        <tbody>
            <tr>
                <th><i class="glyphicon glyphicon-calendar"></i>Order#</th>
                <th><i class="glyphicon glyphicon-floppy-disk"></i>Item Image</th>
                <th><i class="glyphicon glyphicon-user"></i>Item Name</th>
                
               
                
              

            </tr>
            @foreach (var item in ViewBag.lst)
            {
                <tr id="trid">
                    <td>
                       Order# @item.order_id
                    </td>
                    
                    @{
                        var name = Model.Where(s => s.item_no == item.product_id).SingleOrDefault();

                    }
                    <td><img src="~/image/@name.item_img" width="60" height="60" /> </td>
                    <td>@name.ite_detail</td>
                    
                    
                </tr>
                        }
        </tbody>

    </table>
</div>

