﻿@model IEnumerable<sps.Model.client_login>
@{
    ViewBag.Title = "client_orders";
    Layout = "~/Views/layout/Admin_layout.cshtml";
}

<script src="~/clientcss/js/jquery-1.11.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable #trid").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

    });
    function print(date,name,cellno,prdctname,qnty,adrress,Addresstype,netprice,totalprice)
    {


        newWin = window.open("");
        newWin.document.write("<h3 style='text-align:center;'>Date: " + date + "</h3><table style='font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;border-collapse: collapse;width: 100%;'><tr><th>Client Name</th><td>" + name + "</td></tr><tr><th>Client Cell#</th><td>" + cellno + "</td></tr><tr><th>Product Name</th><td>" + prdctname + "</td></tr><tr><th>Product Quqntity</th><td>" + qnty + "</td></tr><tr><th>Address</th><td>" + adrress + "</td></tr><tr><th>Address type</th><td>" + Addresstype + "</td></tr><tr><th>Net Price</th><td>" + netprice + "</td></tr><tr><th>Total Price</th><td>" + totalprice + "</td></tr></table>");
        newWin.print();
        newWin.close();

    }
    function openpopup(orderno) 
    {
        document.getElementById("h4").innerHTML = "Order No is: order#" + orderno;
        document.getElementById("empid").value = orderno;
        document.getElementById("acceptpopup").style.display = "block";
    }
    function crosfnc() {
        document.getElementById("acceptpopup").style.display = "none";
    }
</script>

<div class="col-md-6 col-md-push-3" style="top:20px;">
    <div class="row well">
        <input id="myInput" type="text" placeholder="Search.." class="form-control">
    </div>
</div>


<div class="col-md-12">
    <h1 class="text-center"> Client Orders</h1>
    <table class="table table-striped table-hover" id="myTable">
        <tbody>
            <tr>
                <th><i class="glyphicon glyphicon-calendar"></i>Date</th>
                <th><i class="glyphicon glyphicon-user"></i>Order number</th>
                <th><i class="glyphicon glyphicon-floppy-disk"></i>Client Name</th>
                <th><i class="glyphicon glyphicon-floppy-disk"></i>Client Cellno</th>
                <th><i class="glyphicon glyphicon-floppy-disk"></i>Address</th>
                <th><i class="glyphicon glyphicon-usd"></i>Address Type</th>
                <th><i class="glyphicon glyphicon-edit"></i>Accept</th>
                <th><i class="glyphicon glyphicon-remove-circle"></i>Delete</th>
                <th><i class="glyphicon glyphicon-print"></i>Print</th>

            </tr>
            @foreach (var item in ViewBag.msg)
            {
                <tr id="trid">
                    <td>
                        @item.order_date
                    </td>
                    <td><a href="@Url.Action("clientordershow","Admin",new {id=@item.order_no })">Order# @item.order_no</a></td>
                    @{
                        var name = Model.Where(s => s.client_login_id == item.customerid).SingleOrDefault();

                    }
                    <td>@name.user_name</td>
                    <td>@item.cellno</td>
                    <td>@item.addresses</td>
                    <td>@item.address_type</td>
                    <td><input type="submit" class="btn btn-primary" value="Accept" onclick="openpopup('@item.order_no')"/></td>
                    <td><input type="submit" class="btn btn-danger" value="Delete" onclick="deletfnc()" /></td>
                </tr>
                        }
        </tbody>

    </table>
</div>
<div class="modal" id="acceptpopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="@Url.Action("client_orders", "Admin")">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="crosfnc();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="h4"></h4>
                </div>
                <div class="modal-body">
                    <input type="text" style="display:none;" id="empid" name="empid_name" />
                    <div class="form-group">
                        <label>Delivery Date</label>
                        <input type="date" id="txtdilvrydate" name="delivry_date" class="form-control" />

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Accept</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


