﻿
@{
    ViewBag.Title = "emp_sal_histry";
    Layout = "~/Views/layout/Admin_layout.cshtml";
}

<script src="~/clientcss/js/jquery-1.11.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable #trid").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

    });
    </script>
<div class="col-md-6 col-md-push-3" style="top:20px;">
    <div class="row well">
        <div class="col-xs-11">
            <input id="myInput" type="text" placeholder="Search.." class="form-control">
        </div>
    </div>
</div>


<div class="col-md-12">
    <h1 class="text-center"> Employee Salary Record</h1>
    <table class="table table-striped table-hover" id="myTable">
        <tbody>
            <tr>
                <th><i class="glyphicon glyphicon-calendar"></i>Date</th>
                <th><i class="glyphicon glyphicon-user"></i>Employee Name</th>
                <th><i class="glyphicon glyphicon-floppy-disk"></i>Designation</th>
                <th><i class="glyphicon glyphicon-usd"></i>Grass Salary</th>
                <th><i class="glyphicon glyphicon-move"></i>Working days </th>
                <th><i class="glyphicon glyphicon-usd"></i>Per Day Salary</th>
                <th><i class="glyphicon glyphicon-usd"></i>Advance</th>
                <th><i class="glyphicon glyphicon-usd"></i>Net Salary</th>
                <th><i class="glyphicon glyphicon-usd"></i>Pending Amount</th>
                <th><i class="glyphicon glyphicon-remove-circle"></i>Delete</th>
                

            </tr>
            @foreach (var item in ViewBag.msg)
            {
                <tr id="trid">
                    <td> @item.date</td>
                    <td> @item.Emp_sal_name</td>
                    <td>@item.Emp_sal_desgntion</td>
                    <td>@item.Emp_gross_sal</td>
                    <td>@item.Emp_working_days</td>
                    <td>@item.Emp_perday_sal</td>
                    <td>@item.Emp_advance_sal</td>
                    <td>@item.Emp_net_sal</td>
                    <td>@item.Emp_pending_amount</td>
                    <td><a href="@Url.Action("delete_emp_sal_histry", "Admin",new {id=item.Emp_sal_id })" class="btn btn-danger"><i class="glyphicon glyphicon-remove-sign"></i></a></td>

                </tr>
            }
        </tbody>

    </table>
</div>
