﻿
@{
    ViewBag.Title = "employeedetail";
    Layout = "~/Views/layout/Admin_layout.cshtml";
}
<script src="~/Admincss/bower_components/jquery.min.js"></script>
<script>
    function myclick()
    {
        var dd = document.getElementById("ddl1").value;
        if (dd == 0)
        {
            document.getElementById("name_div").style.display = "block";
            document.getElementById("btn_div").style.display = "block";
            document.getElementById("cnic_div").style.display = "none";
        }
        else
        {
            document.getElementById("cnic_div").style.display = "block";
            document.getElementById("btn_div").style.display = "block";
            document.getElementById("name_div").style.display = "none";
        }
    }
    function openpopup(id,name,father,address,cnic,desig,dept,cell)
    {
        document.getElementById("txtnameid").value=name;
        document.getElementById("empid").value=id;
        document.getElementById("txtFname").value=father;
        document.getElementById("txtEaddress").value=address;
        document.getElementById("txtcnicid").value=cnic;
        document.getElementById("txtdesignation").value=desig;
        document.getElementById("txtdeprtmnt").value=dept;
        document.getElementById("txtphone").value=cell;
        document.getElementById("modal-default").style.display = "block";
    }
    function crosfnc()
    {
        document.getElementById("modal-default").style.display = "none";
    }
    $(document).ready(function () {
        $("#txtnameid").keypress(function (event) {
            var inputValue = event.charCode;
            if (!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
            }
        });
        $("#txtFname").keypress(function (event) {
            var inputValue = event.charCode;
            if (!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
            }
        });
        $("#txtdesignation").keypress(function (event) {
            var inputValue = event.charCode;
            if (!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
            }
        });
        $("#txtdeprtmnt").keypress(function (event) {
            var inputValue = event.charCode;
            if (!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
            }
        });
        $('#txtcnicid').keydown(function () {

            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length == 5 || length == 13)
                $(this).val($(this).val() + '-');

        });
        $('#txtphone').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val() + '-');
                }

        });
    });
</script>
<div class="col-md-7 col-md-push-2" style="top:20px;">
    <div class="row well">
        <form method="post" action="@Url.Action("search_employee", "Admin")">
            <div class="col-xs-4">
                <select class="form-control" id="ddl1" name="ddlsearch" onchange="myclick()">
                    <option>select search type</option>
                   <option value="0">by name</option>
                    <option value="1">by cnic</option>
                </select>
</div>
            <div class="col-xs-4" id="name_div" style="display:none;">
                <input type="text" id="txtname" name="byname" class="form-control" placeholder="Employee Name" />
            </div>
            <div class="col-xs-4" id="cnic_div" style="display:none;">
                <input type="text" id="txtempcnic" name="bycnic" class="form-control" placeholder="Employee CNIC" />
            </div>
            <div class="col-xs-2" id="btn_div" style="display:none;">
                <button type="submit" id="btn_search" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </form>

    </div>
</div>


<div class="col-md-10">
    <h1 class="text-center"> Employee Record</h1>
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th><i class="glyphicon glyphicon-user"></i>Employee Name</th>
                <th><i class="glyphicon glyphicon-user"></i>Father Name</th>
                <th><i class="glyphicon glyphicon-home"></i>Address </th>
                <th><i class="glyphicon glyphicon-asterisk"></i>Employee CNIC</th>
                <th><i class="glyphicon glyphicon-floppy-disk"></i>Designation</th>
                <th><i class="glyphicon glyphicon-certificate"></i>Department</th>
                <th><i class="glyphicon glyphicon-phone-alt"></i>Cell no</th>
                <th><i class="glyphicon glyphicon-edit"></i>Update</th>
                <th><i class="glyphicon glyphicon-remove-circle"></i>Delete</th>

            </tr>
            @foreach(var itm in ViewBag.msg)
            {
                <tr>
                    <td>@itm.Emp_name</td>
                    <td>@itm.Emp_father_name</td>
                    <td>@itm.Emp_address</td>
                    <td>@itm.Emp_cnic</td>
                    <td>@itm.Emp_designation</td>
                    <td>@itm.Emp_department</td>
                    <td>@itm.Emp_phone</td>
                    <td><a href="#" class="btn btn-primary" onclick="openpopup('@itm.Emp_no','@itm.Emp_name','@itm.Emp_father_name','@itm.Emp_address','@itm.Emp_cnic','@itm.Emp_designation','@itm.Emp_department','@itm.Emp_phone');"><i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><a href="@Url.Action("delete", "Admin",new {id=itm.Emp_no })" class="btn btn-danger"><i class="glyphicon glyphicon-remove-sign"></i></a></td>
                </tr>
            }
        </tbody>

    </table>
</div>
<div class="modal" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="@Url.Action("edit_employee", "Admin")">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="crosfnc();">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Update Employee Record</h4>
            </div>
            <div class="modal-body" style="overflow-y:auto;height:400px">
                <input type="text" style="display:none;" id="empid" name="empid_name"/>
                <div class="form-group">
                    <label>Employee name</label>
                    <input type="text" id="txtnameid" name="txtname_name" class="form-control" required />

                </div>


                <div class="form-group">
                    <label> Father name</label>
                    <input type="text" id="txtFname" name="txtfname_name" class="form-control" required/>

                </div>


                <div class="form-group">
                    <label>  Employee Address</label>
                    <input type="text" id="txtEaddress" name="txtaddress_name" class="form-control" required />

                </div>

                <div class="form-group">
                    <label>Employee Cnic</label>
                    <input type="text" id="txtcnicid" name="txtcnic_name" class="form-control" maxlength="15" required />

                </div>


                <div class="form-group">
                    <label>Employee Designation</label>
                    <input type="text" id="txtdesignation" name="txtdesig_name" class="form-control" required />

                </div>
                <div class="form-group">
                    <label>Employee Department</label>
                    <input type="text" id="txtdeprtmnt" name="txtdept_name" class="form-control" required />

                </div>
                <div class="form-group">
                    <label>Employee cell #</label>
                    <input type="text" id="txtphone" name="txtphn_name" class="form-control" maxlength="12" required />

                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
                </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
