﻿
@{
    ViewBag.Title = "empsalarysheet";
    Layout = "~/Views/layout/Admin_layout.cshtml";
}
<script src="~/Admincss/bower_components/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $('#txtgrossalary').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
        $('#txtwrkngdays').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
        $('#txtprdaysalry').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
        $('#txtadvance').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
        $('#txtnetsalary').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
        $('#txtpndngamount').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
    });
</script>
<section class="content-header">

    <div id="signup" class="col-md-9">
        <form method="post" action="@Url.Action("empsalarysheet", "Admin")">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="text-center">EMPLOYEE SALARY SHEET</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <select class="form-control" name="emp_name" required>
                                <option>Select Employee</option>
                                @foreach (var mm in ViewBag.vv)
                                {
                                    <option value="@mm.Emp_name">@mm.Emp_name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <select class="form-control" name="emp_departmnt" required>
                                <option>Select Employee Department</option>
                                @foreach (var hh in ViewBag.ss)
                                {
                                    <option value="@hh.Emp_department">@hh.Emp_department</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <select class="form-control" name="emp_designation" required>
                                <option>Select Employee Designation</option>
                                @foreach (var uu in ViewBag.mu)
                                {
                                    <option value="@uu.Emp_designation">@uu.Emp_designation</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" id="txtgrossalary" name="gross_salary" placeholder=" Gross Salary" class="form-control" required/>

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" id="txtwrkngdays" name="working_days" placeholder="Working Days" class="form-control" required />

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" id="txtprdaysalry" name="perday_salry" placeholder="Per Day Salary" class="form-control" required />

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" id="txtadvance" name="advance" placeholder="Advance" class="form-control" required />

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" id="txtnetsalary" name="net_salry" placeholder="Net Salary" class="form-control" required/>

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" id="txtpndngamount" name="pending_amount" placeholder="Pending Amount" class="form-control" required />

                        </div>
                    </div>
                   
                </div>
                <div class="panel-footer">
                   <span style="color:seagreen">@ViewBag.success</span>
                    <p class="text-center">
                        <input id="Btnaddsalary" type="submit" value="Add Salary" class="btn btn-primary" />
                    </p>

                </div>

            </div>
            </form>
</div>

</section>



