﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Admincss/bower_components/bootstrap.css" rel="stylesheet" />
    <title>Index</title>
    <style type="text/css">
        .top{
            top:120px;
        }
    </style>
    <script src="~/clientcss/js/jquery-1.11.1.min.js"></script>
    <script>
        function signup() {
            document.getElementById("signup").style.display = "block";
            document.getElementById("logindiv").style.display = "none";
        }
        function createaccount() {
            var a = $("#txtname").val();
            var b = $("#txtemail").val();
            var c = $("#txtpswd").val();


            $.ajax({
                url: "/Admin/createaccount",
                type: 'post',
                data: { name: a, pwd: c, mail: b },
                dataType: 'json',
                success: function (response) {
                    var u = response.length;

                    document.getElementById("signup").style.display = "none";
                    document.getElementById("logindiv").style.display = "block";


                }

            });

        }
        function login() {
            var a = $("#txtmail").val();
            var b = $("#txtpwd").val();
            $.ajax({
                url: "/Admin/login",
                type: 'post',
                data: { loginemail: a, loginpwd: b },
                dataType: 'json',
                success: function (msg) {

                    var data = msg.hasOwnProperty("d") ? msg.d : msg;
                    if (data.success) {
                        window.location.href = '@Url.Action("dashboard", "Admin")';
                    }
                    else {
                        alert("invalid email OR password");
                    }


                }

            });
        }
    </script>
</head>

<body style="background-image:url(../../Admincss/admin_img/blurry_abstract-wide.jpg)">
    <div class="col-md-5 col-md-push-3 top" id="logindiv">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="text-center">Login</h2>
            </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <input type="text" id="txtmail" name="email" placeholder="Email" class="form-control"/>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="password" id="txtpwd" name="pwd" placeholder="password" class="form-control" />
                        </div>
                    </div>
               
                </div>
            <div class="panel-footer">
              
                    <p>
                        <input id="Btnlogin" type="button" value="Login" class="btn btn-success" onclick="login();" /><input id="Btnlogin" type="button" style="float:right" value="Create Account" class="btn btn-primary" onclick="signup()" />
                    </p>
            
            </div>
            
        </div> 
    </div>
    <div id="signup" class="col-md-5 col-md-push-3 top" style="display:none;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="text-center">Signup</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <input type="text" id="txtname" name="name" placeholder="Name" class="form-control" />

                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <input type="text" id="txtemail" name="Email" placeholder="Email" class="form-control" />

                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <input type="password" id="txtpswd" name="pasword" placeholder="password" class="form-control" />
                    </div>
                </div>

            </div>
            <div class="panel-footer">

                <p class="text-center">
                    <input id="Btnsignup" type="button" value="Create Account" class="btn btn-primary" onclick="createaccount()" />
                </p>
                
            </div>

        </div>
        
    </div>
</body>
</html>
