﻿
@{
    ViewBag.Title = "viewmonthlymandistock";
    Layout = "~/Views/layout/Admin_layout.cshtml";
}
<script src="~/clientcss/js/jquery-1.11.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable #trid").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#txtshopname").keypress(function (event) {
            var inputValue = event.charCode;
            if (!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
            }
        });
        $('#txtperkgrate').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
        $('#txttotalamount').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
    });
    function openpopup(id,name,vahicleno,loadweight,unloadwght,perkgrate,totlamount)
    {
        document.getElementById("txtshopname").value = name;
        document.getElementById("stokid").value = id;
        document.getElementById("txtvahcleno").value = vahicleno;
        document.getElementById("txtloadweight").value = loadweight;
        document.getElementById("unloadweight").value = unloadwght;
        document.getElementById("txtperkgrate").value = perkgrate;
        document.getElementById("txttotalamount").value = totlamount;
        document.getElementById("modal-default").style.display = "block";
    }
    function crosfnc()
    {
        document.getElementById("modal-default").style.display = "none";
    }
</script>
<div class="col-md-6 col-md-push-3" style="top:20px;">
    <div class="row well">
        <input id="myInput" type="text" placeholder="Search.." class="form-control">
    </div>
</div>


<div class="col-md-10">
    <h1 class="text-center"> Monthly Mandi Stock</h1>
    <table class="table table-striped table-hover" id="myTable">
        <tbody>
            <tr>
                <th><i class="glyphicon glyphicon-home"></i>Mandi Shop Name</th>
                <th><i class="glyphicon glyphicon-certificate"></i>Vahichle#</th>
                <th><i class="glyphicon glyphicon-hdd"></i>Load Weight </th>
                <th><i class="glyphicon glyphicon-hdd"></i>Unload Weight</th>
                <th><i class="glyphicon glyphicon-usd"></i>/kg rate</th>
                <th><i class="glyphicon glyphicon-usd"></i>Total Amount</th>
                <th><i class="glyphicon glyphicon-edit"></i>Update</th>
                <th><i class="glyphicon glyphicon-remove-circle"></i>Delete</th>

            </tr>
            @foreach (var itmm in ViewBag.stk)
            {
                <tr id="trid">
                    <td>@itmm.mandi_shop_name</td>
                    <td>@itmm.vahicle_no</td>
                    <td>@itmm.load_weight</td>
                    <td>@itmm.unload_weight</td>
                    <td>@itmm.per_kg_rate</td>
                    <td>@itmm.total_amount</td>
                    <td><a href="#" class="btn btn-primary" onclick="openpopup('@itmm.stock_no','@itmm.mandi_shop_name','@itmm.vahicle_no','@itmm.load_weight','@itmm.unload_weight','@itmm.per_kg_rate','@itmm.total_amount');"><i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><a href="@Url.Action("deletemonthly_stock", "Admin",new {id=itmm.stock_no })" class="btn btn-danger"><i class="glyphicon glyphicon-remove-sign"></i></a></td>
                </tr>
            }

        </tbody>

    </table>
</div>
<div class="modal" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="@Url.Action("editmonthly_stock", "Admin")">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="crosfnc();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Update Monthly Mandi Stock</h4>
                </div>
                <div class="modal-body" style="overflow-y:auto;height:400px">
                    <input type="text" style="display:none;" id="stokid" name="empid_name" />
                    <div class="form-group">
                        <label>Mandi shop name</label>
                        <input type="text" id="txtshopname" name="editshop_name" class="form-control" required/>

                    </div>


                    <div class="form-group">
                        <label>Vahicle no</label>
                        <input type="text" id="txtvahcleno" name="editvahicle_no" class="form-control" required />

                    </div>


                    <div class="form-group">
                        <label>load weight</label>
                        <input type="text" id="txtloadweight" name="editload_weight" class="form-control" required />

                    </div>

                    <div class="form-group">
                        <label>unload weight</label>
                        <input type="text" id="unloadweight" name="editunload_weight" class="form-control" required/>

                    </div>


                    <div class="form-group">
                        <label>Per kg Rate</label>
                        <input type="text" id="txtperkgrate" name="editperkg_rate" class="form-control" required/>

                    </div>
                    <div class="form-group">
                        <label>Total Amount</label>
                        <input type="text" id="txttotalamount" name="total_amount" class="form-control" required />

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

             

