﻿
@{
    ViewBag.Title = "viewtransection";
    Layout = "~/Views/layout/Admin_layout.cshtml";
}
<script src="~/clientcss/js/jquery-1.11.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable #trid").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    function print(date, shopweight, blncsheet,clientamount, retailslryamount, dailyprft) {

        
        newWin = window.open("");
        newWin.document.write("<h3 style='text-align:center;'>Date: " + date + "</h3><table style='font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;border-collapse: collapse;width: 100%;'><tr><th>Date</th><td>" + Date + "</td></tr><tr><th>Shop Weight</th><td>" + shopweight + "</td></tr><tr><th>Balance Sheet</th><td>" + blncsheet + "</td></tr><tr><th>Client Amount</th><td>" + clientamount + "</td></tr><tr><th>Retail Salary Amount</th><td>" + retailslryamount + "</td></tr><tr><th>Daily Profit</th><td>" + dailyprft + "</td></tr></table>");
        newWin.print();
        newWin.close();

    }
    </script>

<div class="col-md-6 col-md-push-3" style="top:20px;">
    <div class="row well">
        <input id="myInput" type="text" placeholder="Search.." class="form-control">
    </div>
</div>


<div class="col-md-10">
    <h1 class="text-center">Transections</h1>
    <table class="table table-striped table-hover" id="myTable">
        <tbody>
            <tr>
                <th><i class="glyphicon glyphicon-calendar"></i>date</th>
                <th><i class="glyphicon glyphicon-hdd"></i>Shop Weigt</th>
                <th><i class="glyphicon glyphicon-th"></i>Balence Sheet</th>
                <th><i class="glyphicon glyphicon-usd"></i>Client Amount</th>
                <th><i class="glyphicon glyphicon-usd"></i>Retail Salary Amount</th>
                <th><i class="glyphicon glyphicon-usd"></i>Daily Profit</th>
                <th><i class="glyphicon glyphicon-print"></i>Action</th>
                <th><i class="glyphicon glyphicon-remove-circle"></i>Delete</th>

            </tr>
             @foreach (var trsction in ViewBag.trns)
             {
            <tr id="trid">
                <td>@trsction.date </td>
                <td>@trsction.shop_weight </td>
                <td>@trsction.balance_sheet</td>
                <td>@trsction.client_amount</td>
                <td>@trsction.retail_salryamount</td>
                <td>@trsction.daily_profit</td>
                <td><button class="btn btn-primary" onclick="print('@trsction.date','@trsction.shop_weight','@trsction.balance_sheet','@trsction.client_amount','@trsction.retail_salryamount','@trsction.daily_profit')"><i class="glyphicon glyphicon-print"></i></button></td>
                <td><a href="@Url.Action("delete_transection", "Admin",new {id=trsction.transction_id })" class="btn btn-danger"><i class="glyphicon glyphicon-remove-sign"></i></a></td>
            </tr>
             }



        </tbody>

    </table>
</div>

