﻿
@{
    ViewBag.Title = "viewsalary";
    Layout = "~/Views/layout/Admin_layout.cshtml";
}
<script src="~/clientcss/js/jquery-1.11.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable #trid").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#txtempname").keypress(function (event) {
            var inputValue = event.charCode;
            if (!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
            }
        });
        $("#txtempdpt").keypress(function (event) {
            var inputValue = event.charCode;
            if (!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
            }
        });
        $("#txtEmpdesgntion").keypress(function (event) {
            var inputValue = event.charCode;
            if (!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
            }
        });
        $('#txtempgrossal').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
        $('#txtempwrkngday').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
        $('#txtempprdysal').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
        $('#txtadvncsal').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
        $('#txtnetsal').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });
        $('#txtemppndngamount').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val());
                }

        });

    });
    function print(name,dis,gross,wrkngdays,perdaysal,advncsal,netsal,pendngamount)
    {

        $.ajax({
            url: "/Admin/insert_salaryslip",
            type: 'post',
            data: { name_pass: name, date_pass: $("#date_id").val() },
            dataType: 'json',
            success: function (msg) {

                var data = msg.hasOwnProperty("d") ? msg.d : msg;
                if (data.success) {
                       
                }
                else {
                    alert("Error");
                }


            }

        });
        newWin = window.open("");
        newWin.document.write("<h3 style='text-align:center;'>Employee: " + name + "</h3><table style='font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;border-collapse: collapse;width: 100%;'><tr><th>Employee Name</th><td>" + name + "</td></tr><tr><th>Designation</th><td>" + dis + "</td></tr><tr><th>Gross Salary</th><td>" + gross + "</td></tr><tr><th>Working Days</th><td>" + wrkngdays + "</td></tr><tr><th>PerDay Salary</th><td>" + perdaysal + "</td></tr><tr><th>Advance</th><td>" + advncsal + "</td></tr><tr><th>Net Salary</th><td>" + netsal + "</td></tr><tr><th>Pending Amount</th><td>" + pendngamount + "</td></tr></table>");
        newWin.print();
        newWin.close();

    }
    function openpopup(id, empname, empdeptmnt, empdesgntion, empgrossal,empwrkngdays, empperdaysal,empadvncsal,empnetsal,emppendngamount) {
        document.getElementById("txtempname").value = empname;
        document.getElementById("empid").value = id;
        document.getElementById("txtempdpt").value = empdeptmnt;
        document.getElementById("txtEmpdesgntion").value = empdesgntion;
        document.getElementById("txtempgrossal").value = empgrossal;
        document.getElementById("txtempwrkngday").value = empwrkngdays;
        document.getElementById("txtempprdysal").value = empperdaysal;
        document.getElementById("txtadvncsal").value = empadvncsal;
        document.getElementById("txtnetsal").value = empnetsal;
        document.getElementById("txtemppndngamount").value = emppendngamount;
        document.getElementById("modal-default").style.display = "block";
    }
    function crosfnc() {
        document.getElementById("modal-default").style.display = "none";
    }
    </script>

<div class="col-md-6 col-md-push-3" style="top:20px;">
    <div class="row well">
        <div class="col-xs-5">
            <input id="myInput" type="text" placeholder="Search.." class="form-control">
        </div>
        <div class="col-xs-5">
            <input type="date" id="date_id" class="form-control"/>
        </div>


    </div>
</div>


<div class="col-md-12">
    <h1 class="text-center"> Employee Salary Detail</h1>
    <table class="table table-striped table-hover" id="myTable">
        <tbody>
            <tr>
                <th><i class="glyphicon glyphicon-user"></i>Employee Name</th>
                <th><i class="glyphicon glyphicon-floppy-disk"></i>Designation</th>
                <th><i class="glyphicon glyphicon-usd"></i>Grass Salary</th>
                <th><i class="glyphicon glyphicon-move"></i>Working days </th>
                <th><i class="glyphicon glyphicon-usd"></i>Per Day Salary</th>
                <th><i class="glyphicon glyphicon-usd"></i>Advance</th>
                <th><i class="glyphicon glyphicon-usd"></i>Net Salary</th>
                <th><i class="glyphicon glyphicon-usd"></i>Pending Amount</th>
                <th><i class="glyphicon glyphicon-edit"></i>Update</th>
                <th><i class="glyphicon glyphicon-remove-circle"></i>Delete</th>
                <th><i class="glyphicon glyphicon-print"></i>Print</th>

            </tr>
            @foreach (var item in ViewBag.msg)
            {
            <tr id="trid">
                <td>
                    @item.Emp_sal_name
                </td>
                <td>@item.Emp_sal_desgntion</td>
                <td>@item.Emp_gross_sal</td>
                <td>@item.Emp_working_days</td>
                <td>@item.Emp_perday_sal</td>
                <td>@item.Emp_advance_sal</td>
                <td>@item.Emp_net_sal</td>
                <td>@item.Emp_pending_amount</td>
                <td><a href="#" class="btn btn-primary" onclick="openpopup('@item.Emp_sal_id','@item.Emp_sal_name','@item.Emp_sal_desgntion','@item.Emp_gross_sal','@item.Emp_working_days','@item.Emp_perday_sal','@item.Emp_advance_sal','@item.Emp_net_sal','@item.Emp_pending_amount');"><i class="glyphicon glyphicon-edit"></i></a></td>
                <td><a href="@Url.Action("delete_emp_salary", "Admin",new {id=item.Emp_sal_id })" class="btn btn-danger"><i class="glyphicon glyphicon-remove-sign"></i></a></td>
                <td><button class="btn btn-primary" onclick="print('@item.Emp_sal_name','@item.Emp_sal_desgntion','@item.Emp_gross_sal','@item.Emp_working_days','@item.Emp_perday_sal','@item.Emp_advance_sal','@item.Emp_net_sal','@item.Emp_pending_amount')"><i class="glyphicon glyphicon-print"></i></button></td>
            </tr>
            }
        </tbody>

    </table>
</div>
<div class="modal" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="@Url.Action("edit_employee_salry", "Admin")">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="crosfnc();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Update Employee Salary</h4>
                </div>
                <div class="modal-body" style="overflow-y:auto;height:400px">
                    <input type="text" style="display:none;" id="empid" name="empid_name" />
                    <div class="form-group">
                        <label>Employee name</label>
                        <input type="text" id="txtempname" name="txtname_name" class="form-control" required />

                    </div>


                    <div class="form-group">
                        <label>Employee Department</label>
                        <input type="text" id="txtempdpt" name="txtemp_dpt" class="form-control" required />

                    </div>


                    <div class="form-group">
                        <label>  Employee Designation</label>
                        <input type="text" id="txtEmpdesgntion" name="txtemp_desgntion" class="form-control" required />

                    </div>

                    <div class="form-group">
                        <label>Employee Gross Salary</label>
                        <input type="text" id="txtempgrossal" name="txtemp_grossal" class="form-control" required />

                    </div>


                    <div class="form-group">
                        <label>Employee Working Daya</label>
                        <input type="text" id="txtempwrkngday" name="txtdemp_wrkngday" class="form-control" required/>

                    </div>
                    <div class="form-group">
                        <label>Employee Per day salary</label>
                        <input type="text" id="txtempprdysal" name="txtemp_perdaysal" class="form-control" required />

                    </div>
                    <div class="form-group">
                        <label>Employee Advance salary</label>
                        <input type="text" id="txtadvncsal" name="txtempadvnc_sal" class="form-control" required />

                    </div>
                    <div class="form-group">
                        <label>Employee Net Salary</label>
                        <input type="text" id="txtnetsal" name="txtemp_netsal" class="form-control" required />

                    </div>
                    <div class="form-group">
                        <label>Employee Pending Amount</label>
                        <input type="text" id="txtemppndngamount" name="txtemp_pendindamount" class="form-control" required />

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>




