﻿
@{
    ViewBag.Title = "aboutus";
    Layout = "~/Views/layout/client_layout.cshtml";
}
<div class="banner">

    <div class="w3l_banner_nav_left">
        <nav class="navbar nav_bottom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <div class="panel-heading" style="background-color:#FA1818;color:white"><h3 class="text-center">Top 5 Items</h3></div>
                @foreach (var itms in ViewBag.mu)
                {
                    <ul class="nav navbar-nav nav_1">
                        <li><a href="@Url.Action("clientplaceorder", "Home")">@itms.ite_detail</a></li>



                    </ul>
                }
            </div><!-- /.navbar-collapse -->

        </nav>
    </div>

</div>
<div class="w3l_banner_nav_right">
    <!-- about -->
    <div class="privacy about">
        <h3>About Us</h3>
        <p class="animi">
        Hamza Poltary Shop is very Famous shop in Islamabad.It is Located at near blue area sector G-7/2 in Amir Market.
        It has 50 employees aproximatly and they all are very hard Working and Honest.For more information please Contact Us.     
        </p>
        <div class="agile_about_grids">
            <div class="col-md-6 agile_about_grid_right">
                <img src="~/clientcss/images/1.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="col-md-6 agile_about_grid_left">
                <ol>
                    <li>Whole Chiken</li>
                    <li>Live Chiken</li>
                    <li>Leg Piece</li>
                    <li>Chest Piece</li>
                    <li>Choice Piece</li>
                    <li>Bonless</li>
                </ol>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //about -->
</div>
<div class="clearfix"></div>

<!-- //banner -->
<!-- team -->
<div class="team">
    <div class="container">
        <h3>Meet Our Amazing Team</h3>
        <div class="agileits_team_grids">
            <div class="col-md-3 agileits_team_grid">
                <img src="~/clientcss/images/musharraf.jpg" alt=" " class="img-responsive" />
                <h4>Musharraf Akram</h4>
                <p>CEO</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 agileits_team_grid">
                <img src="~/clientcss/images/hamza.jpg" alt=" " class="img-responsive" />
                <h4>Hamza Akram</h4>
                <p>Manager</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 agileits_team_grid">
                <img src="~/clientcss/images/shahbaz.jpg" alt=" " class="img-responsive" />
                <h4>Shahbaz Ahmed</h4>
                <p>Assistant Manager</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 agileits_team_grid">
                <img src="~/clientcss/images/adnan.jpg" alt=" " class="img-responsive" />
                <h4>Adnan Khan</h4>
                <p>Supervisour</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
