﻿
@{
    ViewBag.Title = "checkout";
    Layout = "~/Views/layout/client_layout.cshtml";
}
<script src="~/Admincss/bower_components/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        if (localStorage.getItem("product") === null) {
            document.getElementById("chk_btn").style.display = "none";
            document.getElementById("order_tot").style.display = "none";
            $("#tbody_id").empty();
            trhtml += "<tr id='cartrow'><td></td><td></td><td></td><td><div class='alert alert-danger'><strong>Checkout is not available because Your Cart is Empty</div></td></tr>";
            $("#tb").append(trhtml);
        }
        else {
            var myArrayObject = JSON.parse(localStorage.getItem("product"));
            var trhtml = "";
            var rst = 0;
            myArrayObject.forEach(function (personObject) {
                trhtml += "<tr id='cartrow'><td><img src='/image/" + personObject.image + "' width='70' height='70'></td><td>" + personObject.nameEn + "</td><td><input type='text' class='form-control' id='qnty_id' style='display:none' value=" + personObject.qnt + " name='qty[]'>" + personObject.qnt + "</td><td>" + personObject.price + "</td><td>" + personObject.total_am + "</td><td><button class='btn btn-danger' onclick='delete_cart(this)'>Delete</button></td></tr>";
                rst = parseInt(rst) + parseInt(personObject.total_am);
            });
            $("#tb").append(trhtml);
            document.getElementById('lbl_total').innerHTML = "Grand Total is: Rs. " + rst;
        }
        $('#mblno').keydown(function () {
            debugger;
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                              || event.keyCode == 27 || event.keyCode == 13
                              || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length < 12)
                if (length == 4) {
                    $(this).val($(this).val() + '-');
                }

        });
    });
    function delete_cart(x) {
        debugger;
        var index = $(x).closest('tr').index();
        //index = index + 1;

        // remove item from table
        $(this).parent().parent().remove();

        // remove item from the cart local storage
        var cart = JSON.parse(localStorage.getItem("product"));

        cart.splice(index, 1);
        localStorage.setItem("product", JSON.stringify(cart));
        location.reload();
        if (JSON.parse(localStorage.getItem("product")).length == 0) {
            window.localStorage.removeItem("product");
        }
    }
    function deliver()
    {
        var itemlist = [];
        var myArrayObject = JSON.parse(localStorage.getItem("product"));
        myArrayObject.forEach(function (personObject) {

            var Item = { item_no: personObject.id,qty: personObject.qnt, item_amount: personObject.total_am };
            itemlist.push(Item);
        });
        $.ajax({
            url: '@Url.Action("InsertValue", "Home")', //
            dataType: "json",
            data: JSON.stringify({ itemlist: itemlist, phn: $("#mblno").val(), landmark: $("#address").val(), town: $("#cty").val(), addresstype: $("#addresstype").val() }),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                alert("success");
            },
            error: function (xhr) {
                alert("error");
            }
        });
    }
</script>
<div class="banner">

    <div class="w3l_banner_nav_left">
        <nav class="navbar nav_bottom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <div class="panel-heading" style="background-color:#FA1818;color:white"><h3 class="text-center">Top 5 Items</h3></div>
                @foreach (var itms in ViewBag.mu)
                {
                    <ul class="nav navbar-nav nav_1">
                        <li><a href="@Url.Action("clientplaceorder", "Home")">@itms.ite_detail</a></li>



                    </ul>
                }
            </div><!-- /.navbar-collapse -->

        </nav>
    </div>

</div>
<div class="w3l_banner_nav_right">
    <!-- about -->
    <div class="privacy about">
        <h3>Chec<span>kout</span></h3>

        <div class="checkout-right">
            <h4>Your shopping cart contains</h4>
            <table class="timetable_sub" id="tb">
                <thead>
                    <tr>
                        <th>Item Image</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody id="tbody_id">
                    
                  
                </tbody>
            </table>
        </div>
        <label id="lbl_total"></label>
        <div class="checkout-left">
           @{ if (Session["u_name"] != null)
               {
                <div class="col-md-12 address_form_agile checkout-left-basket">
                    <h4>Add a new Details</h4>

                    <section class="creditly-wrapper wthree, w3_agileits_wrapper">
                        <div class="information-wrapper">
                            <div class="first-row form-group">
                               
                                <div class="w3_agileits_card_number_grids">
                                    <div class="w3_agileits_card_number_grid_left">
                                        <div class="controls">
                                            <label class="control-label">Mobile number:</label>
                                            <input class="form-control" type="text" name="mblno" id="mblno" maxlength="12" placeholder="Mobile number" required>
                                        </div>
                                    </div>
                                    <div class="w3_agileits_card_number_grid_right">
                                        <div class="controls">
                                            <label class="control-label">Landmark: </label>
                                            <input class="form-control" type="text" name="lndmrk" id="address" placeholder="Landmark" required>
                                        </div>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                                <div class="controls">
                                    <label class="control-label">Town/City: </label>
                                    <input class="form-control" type="text" name="city" id="cty" value="Islamabad" readonly>
                                </div>
                                <div class="controls">
                                    <label class="control-label">Address type: </label>
                                    <select class="form-control option-w3ls" id="addresstype" name="slctadress" required>
                                        <option>Office</option>
                                        <option>Home</option>
                                        <option>Commercial</option>

                                    </select>
                                </div>
                            </div>
                            <button class="submit check_out" onclick="deliver()">Delivery to this Address</button>
                        </div>
                    </section>


                </div>


               }
               else
               {
                <a href="@Url.Action("clientplaceorder","Home")">Continue Shoping</a> <br />
                <a href="@Url.Action("login","Home")">Plz Click Here To Order</a>
               }
        }

            <div class="clearfix"> </div>

        </div>

    </div>
    <!-- //about -->
</div>
<div class="clearfix"></div>