﻿
@{
    ViewBag.Title = "clientplaceorder";
    Layout = "~/Views/layout/client_layout.cshtml";
}
<div class="banner">

    <div class="w3l_banner_nav_left">
        <nav class="navbar nav_bottom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <div class="panel-heading" style="background-color:#FA1818;color:white"><h3 class="text-center">Top 5 Items</h3></div>
                @foreach (var itms in ViewBag.mu)
                {
                    <ul class="nav navbar-nav nav_1">
                        <li><a href="@Url.Action("clientplaceorder", "Home")">@itms.ite_detail</a></li>



                    </ul>
                }
            </div><!-- /.navbar-collapse -->

        </nav>
    </div>

</div>
<div class="w3l_banner_nav_right">
    <div class="w3l_banner_nav_right_banner3_btm">
        <div class="modal" id="pop" style="display:none">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Product Detail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closefnc()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="" width="700" id="images" height="150" style="margin-left:44px;" />
                        <input type="text" id="itemname_none" style="display:none" />
                        <input type="text" id="itemid_none" style="display:none" />
                        <input type="text" id="itemprice_none" style="display:none" />
                        <input type="text" id="itemimg_none" style="display:none" />
                        <table class="table table-hover">
                            <tr>
                                <th>Item Name</th><td><b id="item-name"></b></td>
                                </tr>
                            <tr>
                                <th>Item Rate</th><td><b id="item-rate"></b></td>
                            </tr>
                            <tr>    
                            <th>Item Weight</th><td><b id="item-weight"></b></td>
                            </tr>
                            <tr>    
                            <th>Date</th><td><b id="item-date"></b></td>
                                </tr>
                            <tr>
                            <th>Quantity</th><td><select id="slt"></select></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer" id="btndiv">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="w3ls_w3l_banner_nav_right_grid">
            <h3>food</h3>
            <div class="w3ls_w3l_banner_nav_right_grid1">

                @foreach (var itms in ViewBag.mm)
                {
                    <div class="col-md-3 w3ls_w3l_banner_left" style="margin-top:22px;">
                        <div class="hover14 column">
                            <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid" style="height:290px">

                                <div class="agile_top_brand_left_grid1">
                                    <figure>
                                        <div class="snipcart-item block">
                                            <div class="snipcart-thumb">
                                                <img src="~/image/@itms.item_img" alt=" " height="150" width="250" class="" />
                                                
                                            </div>
                                            <div class="snipcart-details">
                                                <b>@itms.ite_detail</b>
                                                <h4>Rs: @itms.item_rate</h4><div style="margin-top:20px"></div>
                                                <input type="submit" name="submit" value="Detail" class="btn btn-primary" onclick="opendiv('@itms.ite_detail','@itms.item_rate','@itms.item_weight','@itms.date','@itms.item_img','@itms.qty','@itms.item_no')" style="width:150px" />       
                                            </div>
                                       </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>

        <div class="clearfix"></div>

</div>
    </div>
<div class="clearfix"></div>
