﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/layout/client_layout.cshtml";
}
<style>
    .hvr-hang {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
    }

    .serviceBox {
        text-align: center;
        margin-top: 60px;
        position: relative;
        z-index: 1;
        margin-bottom: 21px;
        cursor: pointer;
        width: 100%;
    }

        .serviceBox .service-content {
            background: #fff;
            border: 1px solid #e7e7e7;
            border-radius: 3px;
            padding: 55px 15px;
            position: relative;
        }

    * {
        margin: 0;
        border: 0;
        padding: 0;
    }

    .serviceBox .service-icon {
        width: 78px;
        height: 78px;
        border-radius: 3px;
        background: #fff;
        margin: 0 auto;
        position: absolute;
        top: -34px;
        left: 0;
        right: 0;
        z-index: 1;
        transition: all 0.3s ease-out 0s;
    }
</style>
<div class="banner">
    
    <div class="w3l_banner_nav_left">
        <nav class="navbar nav_bottom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
              
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <div class="panel-heading" style="background-color:#FA1818;color:white"><h3 class="text-center">Top 5 Items</h3></div>
               @foreach (var itms in ViewBag.mu)
                 {
                <ul class="nav navbar-nav nav_1">
                    <li><a href="@Url.Action("clientplaceorder", "Home")">@itms.ite_detail</a></li>
                    


                </ul>
               }
            </div><!-- /.navbar-collapse -->
        
        </nav>
    </div>
    
</div>
<div class="w3l_banner_nav_right">
    <section class="slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <div class="w3l_banner_nav_right_banner">
                        <h3>Make your <span>food</span> with Spicy.</h3>
                        <div class="more">
                            <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w3l_banner_nav_right_banner1">
                        <h3>Make your <span>food</span> with Spicy.</h3>
                        <div class="more">
                            <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w3l_banner_nav_right_banner2">
                        <h3>upto <i>50%</i> off.</h3>
                        <div class="more">
                            <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- flexSlider -->
    <link rel="stylesheet" href="~/clientcss/css/flexslider.css" type="text/css" media="screen" property="" />
    <script defer src="~/clientcss/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
				$(window).load(function(){
				  $('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
					  $('body').removeClass('loading');
					}
				  });
				});
    </script>
    <!-- //flexSlider -->
</div>
<div class="clearfix"></div>
   
<!-- banner -->

<!-- top-brands -->
<div class="top-brands">
    <div class="container">
        <h3>With These Four Steps Your Desired Chiken Comes Right To Your Door</h3>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xsx-6">
                <div class="serviceBox hvr-hang">
                    <div class="service-icon">
                        <span><i class="fa fa-search"></i></span>
                    </div>
                    <div class="service-content" style="height: 270px;">
                        <h3 class="title">Find</h3>
                        <p class="description">Enter you address to locate the restaurants delivering at your place</p>
                        <a href="" class="read-more" data-toggle="tooltip" title="Read More"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xsx-6">
                <div class="serviceBox green hvr-hang">
                    <div class="service-icon">
                        <span><i class="fa fa-cutlery"></i></span>
                    </div>
                    <div class="service-content" style="height: 270px;">
                        <h3 class="title">Choose</h3>
                        <p class="description">Choose the restaurant and browse through the menus to order your favorite food</p>
                        <a href="" class="read-more" data-toggle="tooltip" title="Read More"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xsx-6">
                <div class="serviceBox orange hvr-hang">
                    <div class="service-icon">
                        <span><i class="fa fa-shopping-cart"></i></span>
                    </div>
                    <div class="service-content" style="height: 270px;">
                        <h3 class="title">Confirm</h3>
                        <p class="description">Confirm your order and proceed to payment options</p>
                        <a href="" class="read-more" data-toggle="tooltip" title="Read More"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xsx-6">
                <div class="serviceBox blue hvr-hang">
                    <div class="service-icon">
                        <span><i class="fa fa-euro"></i></span>
                    </div>
                    <div class="service-content" style="height: 270px;">
                        <h3 class="title">Payment</h3>
                        <p class="description">We offer multiple payment methods which includes debit and credits cards, mobile payment option and banking codes.</p>
                        <a href="" class="read-more" data-toggle="tooltip" title="Read More"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="top-brands">
    <div class="container">
        <h3>Hot Items</h3>
        <div class="agile_top_brands_grids">
            @foreach (var itms in ViewBag.mu)
            {
            <div class="col-md-3 top_brand_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                              
                                <div class="snipcart-item block">
                                   
                                    <div class="snipcart-thumb">
                                        <a href="@Url.Action("clientplaceorder","Home")"><img title=" " alt=" " src="~/image/@itms.item_img" class="img-responsive"style="height:130px;" /></a>
                                        <p>@itms.ite_detail</p>
                                        <h4>@itms.item_rate </h4>
                                    </div>
                                   
                                </div>
                              
                            </figure>
                        </div>
                        
                    </div>
                </div>
            </div>
            }
          
            
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //top-brands -->
<!-- fresh-vegetables -->

<!-- //fresh-vegetables -->
<!-- newsletter -->
<div class="newsletter">
    <div class="container">
        <div class="w3agile_newsletter_left">
            <h3>sign up for our newsletter</h3>
        </div>
        <div class="w3agile_newsletter_right">
            <form action="#" method="post">
                <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                <input type="submit" value="subscribe now">
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
