﻿
@{
    ViewBag.Title = "login";
    Layout = "~/Views/layout/client_layout.cshtml";
}

<div class="banner">

    <div class="w3l_banner_nav_left">
        <nav class="navbar nav_bottom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <div class="panel-heading" style="background-color:#FA1818;color:white"><h3 class="text-center">Top 5 Items</h3></div>
                @foreach (var itms in ViewBag.mu)
                {
                    <ul class="nav navbar-nav nav_1">
                        <li><a href="@Url.Action("clientplaceorder", "Home")">@itms.ite_detail</a></li>



                    </ul>
                }
            </div><!-- /.navbar-collapse -->

        </nav>
    </div>

</div>
<div class="w3l_banner_nav_right">
    <!-- login -->
    <div class="w3_login">
        <h3>Sign In & Sign Up</h3>
        <div class="w3_login_module">
            <div class="module form-module">
                <div class="toggle">
                    <i class="fa fa-times fa-pencil"></i>
                    <div class="tooltip">Click Me</div>
                </div>
                <div class="form">
                    <h2>Login to your account</h2>
                    <form action="@Url.Action("loginn", "Home" )" method="post">
                        <input type="email" name="Email" placeholder="Email Address" required=" ">
                        <input type="password" name="Password" placeholder="Password" required=" ">
                        <label>@ViewBag.msg</label>@ViewBag.msg
                        <input type="submit" value="Login">
                    </form>
                </div>
                <div class="form">
                    <h2>Create an account</h2>
                    <form action="@Url.Action("login", "Home" )" method="post">
                        <input type="text" name="Username" placeholder="Username" required=" ">
                        <input type="password" name="Password" placeholder="Password" required=" ">
                        <input type="email" name="Email" placeholder="Email Address" required=" ">
                        <input type="submit" value="Register">
                    </form>
                </div>
                
            </div>
        </div>
        <script>
				$('.toggle').click(function(){
				  // Switches the Icon
				  $(this).children('i').toggleClass('fa-pencil');
				  // Switches the forms
				  $('.form').animate({
					height: "toggle",
					'padding-top': 'toggle',
					'padding-bottom': 'toggle',
					opacity: "toggle"
				  }, "slow");
				});
        </script>
    </div>
    <!-- //login -->
</div>
<div class="clearfix"></div>