﻿@model IEnumerable<sps.Model.client_login>
@{
    ViewBag.Title = "MyOrder";
    Layout = "~/Views/layout/client_layout.cshtml";
}
<div class="banner">

    <div class="w3l_banner_nav_left">
        <nav class="navbar nav_bottom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

        </nav>
    </div>

</div>

<div class="w3l_banner_nav_right">
    <!-- about -->
    <div class="privacy about">
        <h3>My<span>Order</span></h3>

    </div>
    <table class="table table-striped table-hover" id="myTable">
        <tbody>
            <tr>
                <th><i class="glyphicon glyphicon-calendar"></i>Date</th>
                <th><i class="glyphicon glyphicon-user"></i>Order number</th>
                <th><i class="glyphicon glyphicon-floppy-disk"></i>Client Name</th>
                <th><i class="glyphicon glyphicon-floppy-disk"></i>Client Cellno</th>
                <th><i class="glyphicon glyphicon-floppy-disk"></i>Address</th>
                <th><i class="glyphicon glyphicon-usd"></i>Address Type</th>
                <th><i class="glyphicon glyphicon-usd"></i>Delivery Date</th>

            </tr>
            @foreach (var item in ViewBag.msg)
            {
                <tr id="trid">
                    <td>
                        @item.order_date
                    </td>
                    <td><a href="@Url.Action("clientordershow","Admin",new {id=@item.order_no })">Order# @item.order_no</a></td>
                    @{
                        var name = Model.Where(s => s.client_login_id == item.customerid).SingleOrDefault();

                    }
                    <td>@name.user_name</td>
                    <td>@item.cellno</td>
                    <td>@item.addresses</td>
                    <td>@item.address_type</td>
                    <td>@item.dilivery_date</td>
                </tr>
            }
        </tbody>

    </table>
</div>

<div class="clearfix"></div>